:root{
    --titulo-do-topo-da-pesquisa: #405875;
    --cor-de-fundo-da-pesquisa: #D9D9D9;
    --cor-de-branco-mesmo: #FFF;
    --cor-de-fundo-visualizar: #434A54;
}
.obrasDetalhePrincipal{
    margin: 1rem;
    background-color: var(--cor-de-fundo-da-pesquisa);
}
.gestoresFiscaisTituloAzul{
    color: #fff;
    margin: 0px;

    border-radius: 6px 6px 0px 0px;
    background-color: var(--titulo-do-topo-da-pesquisa);
}
.porcentagemMedicao{
    margin: 12px;
    border: 1px solid #000;

    text-align: center ;

    background: rgba(217, 217, 217, 0.25);
    
    box-shadow: 0px 4px 4px 0px
}
table{
    width: 100%;
    height: auto;
    margin: 2px;

    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    background-color: #D9D9D9;;
}
.tabelaMedicaoTopo{
    width: 21.375rem;
    height: 1.5625rem;
    flex-shrink: 0;

    background: rgba(67, 74, 84, 0.30);
}
.tabelaMedicaoTopoEsquerdo{
    border-radius: 0.75rem 0rem 0rem 0rem;
    background: rgba(67, 74, 84, 0.30);

    width: auto;
    height: 1.5625rem;
    flex-shrink: 0;

}
.tabelaMedicaoTopoDireito{
    width: auto;
height: 1.5625rem;
flex-shrink: 0;

border-radius: 0rem 0.75rem 0rem 0rem;
background: rgba(67, 74, 84, 0.30);
}
.tabelaMedicaoMeio{
    
    background: #EDEDED;
}
.tabelaMedicaoMeioVisualizar{
    cursor: pointer;
    background: var(--cor-de-fundo-visualizar);
}
.tabelaMedicaoMeioVisualizar:hover{
background: var(--titulo-do-topo-da-pesquisa);
}
.tabelaMedicaoFinalEsquerdo{
    width: auto;
height: 1.5625rem;
flex-shrink: 0;

border-radius: 0rem 0rem 0rem 0.75rem;
background: #EDEDED;


}
.tabelaMedicaoFinal{
    width: auto;
height: 1.5625rem;
flex-shrink: 0;

    background: #EDEDED;
}
.tabelaMedicaoFinalDireitoVisualizar{
    width: auto;
    height: 1.5625rem;
    flex-shrink: 0;

    border-radius: 0rem 0rem 0.75rem 0rem;
    background: var(--cor-de-fundo-visualizar)
}