h1, p ,a,nav, .linkDaObra{
    width: 1200px;
    height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;

    text-decoration-line: none;

    align-self: center;
    color: #000;
}

.projecaoDeObraInicial{
    display: flex;

    margin-top: 1rem;
    align-self: center;

    width: 78rem;
    
    flex-shrink: 0;

    border-radius: 1rem;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: rgba(217, 217, 217, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.projecaoDeObraInicial:hover{
    border-radius: 0rem;
    background: rgb(217, 217, 217);
}
.fotoDaObra{
    width: 30%;
    height: 12rem;
    flex-shrink: 0;

    margin: 8px;

    background:  lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.textoTitulo{
    color: #000;
    font-size: large;

    margin:  0px;
    text-align: center;
    width: 40%;

    border-left: 1px solid #000;
}
.informacaoPreviasObras{
    display: flex;

    border-left: 1px solid #000;

}
.medicaoObras{
    text-align: center;
    background-color: aqua;
    margin: 4px;

    width: 381px;
    height: 19px;
    flex-shrink: 0;

    border: 1px solid #000;
    background: rgba(217, 217, 217, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.informacaoFixasObras{
    display: grid;
    margin: 0px;
}
.informacaoFixasObrasFixo{
    
    margin: 4px;

    width: 381px;
    height: 17px;
    flex-shrink: 0;

    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.informacaoFixasObrasStatus{
    height: 17px;
    padding: 0px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

/* Adicione regras de mídia para dispositivos móveis */
@media only screen and (max-width: 600px) {
    .projecaoDeObraInicial {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        align-self: center;

        width: 100%;
        font-size: larger;
        flex-shrink: 0;

        border-radius: 1rem;

        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background: rgba(217, 217, 217, 0.25);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }

    .fotoDaObra {
        display: none;
    }

    .textoTitulo {
        width: 100%;
        border-left: none;
    }

    .informacaoPreviasObras {
        flex-direction: column;
        padding: auto;
        border-left: none;
    }

    .informacaoFixasObras{
        margin: 4px;

        width: 100%;
        height: 100%;
        flex-shrink: 0;
    
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .informacaoFixasObrasStatus,
    .medicaoObras,
    .informacaoFixasObrasFixo {
        width: 100%;
        height: 100%;
    }
}