:root{
    --titulo-do-topo-da-pesquisa: #405875;
    --cor-de-fundo-da-pesquisa: #D9D9D9;
    --cor-de-branco-mesmo: #FFF;
    --cor-de-fundo-visualizar: #434A54;
}
.formularioLogin{
    align-self: center;
    width: 62.3rem;
    background-color: var(--cor-de-fundo-da-pesquisa);
    border-radius: 12px;
}
.usuarioInput{
    align-self: center;
    width: 570px;
    height: 35px;
    margin: 1rem;
}
.senhaInput{
    align-self: center;
    width: 570px;
    height: 35px;
    margin: 1rem;
}
.botaoLogin{
    margin: 1rem;
    width: 12rem;
    height: 2rem;
    align-self: center;
    text-align: center;
    border-radius: 12px;
    background-color: #8f7bff;
}
.botaoLogin:hover{
    cursor: pointer;
    background-color: #c300ff;
}