table{
    width: 100%;
    height: auto;
    margin: 2px;

    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    background-color: #D9D9D9;;
}
.tabelaGestorFiscalTopo{
    width: 21.375rem;
    height: 1.5625rem;
    flex-shrink: 0;

    background: rgba(67, 74, 84, 0.30);
}
.tabelaGestorFiscalTopoEsquerdo{
    border-radius: 0.75rem 0rem 0rem 0rem;
    background: rgba(67, 74, 84, 0.30);

    width: auto;
    height: 1.5625rem;
    flex-shrink: 0;

}
.tabelaGestorFiscalTopoDireito{
    width: auto;
height: 1.5625rem;
flex-shrink: 0;

border-radius: 0rem 0.75rem 0rem 0rem;
background: rgba(67, 74, 84, 0.30);
}
.tabelaGestorFiscalMeio{
    
    background: #EDEDED;
}
.tabelaGestorFiscalMeioVisualizar{
    background: var(--cor-de-fundo-visualizar)
}
.tabelaGestorFiscalFinalEsquerdo{
    width: auto;
height: 1.5625rem;
flex-shrink: 0;

border-radius: 0rem 0rem 0rem 0.75rem;
background: #EDEDED;


}
.tabelaGestorFiscalFinal{
    width: auto;
height: 1.5625rem;
flex-shrink: 0;

    background: #EDEDED;
}
.tabelaGestorFiscalFinalDireitoVisualizar{
    width: auto;
    height: 1.5625rem;
    flex-shrink: 0;

    border-radius: 0rem 0rem 0.75rem 0rem;
    background: var(--cor-de-fundo-visualizar)
}