:root{
    --titulo-do-topo-da-pesquisa: #405875;
    --cor-de-fundo-da-pesquisa: #D9D9D9;
    --cor-de-branco-mesmo: #FFF;
}
label{
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
div{
    display: flex;
    flex-direction: column;

    padding: 1rem;
}
input, select{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 4px;
    border: 1px solid #AB9A9A;

    background: var(--cor-de-branco-mesmo);

}
a{
    padding: 12px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;

}
.tituloDeLog{
    color: var(--cor-de-branco-mesmo);
    
    border-radius: 0.375rem 0.375rem 0rem 0rem;
    background-color: var(--titulo-do-topo-da-pesquisa);
}
.fundoDeLog{
    margin: 1rem;
    
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.formularioPesquisa{
    display: grid;
    grid-template-columns: auto auto;
    
}
.logNome{
    
    height: 35px;
    width: 35rem;
}
.logAcao{
    height: 35px;
    width: 25rem;
}
.logData{
    height: 35px;
    width: 35rem;
}
.logArquivo{
    height: 35px;
    width: 35rem;
}